<!-- partials/navbar.html -->

<nav class="navbar">
    <div class="navbar-container">
        <a href="index.html" class="navbar-logo">Financial Calculators</a>
        <ul class="navbar-menu">
            <!-- Категория: Автомобильные калькуляторы -->
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Автомобильные калькуляторы</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="osago_calculator.html" class="dropdown-link">Калькулятор ОСАГО</a></li>
                    <li class="dropdown-item"><a href="car_loan_calculator.html" class="dropdown-link">Калькулятор автокредита</a></li>
                    <li class="dropdown-item"><a href="customs_duty_calculator.html" class="dropdown-link">Калькулятор растаможки автомобиля</a></li>
                    <li class="dropdown-item"><a href="utilization_fee_calculator.html" class="dropdown-link">Калькулятор утилизационного сбора</a></li>
                </ul>
            </li>

            <!-- Категория: Кредитные калькуляторы -->
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Кредитные калькуляторы</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="hypothek.html" class="dropdown-link">Ипотечный калькулятор</a></li>
                    <li class="dropdown-item"><a href="rent_vs_buy_calculator.html" class="dropdown-link">Калькулятор: Покупка или аренда</a></li>
                </ul>
            </li>

            <!-- Категория: Финансовые калькуляторы -->
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Финансовые калькуляторы</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="deposit_calculator.html" class="dropdown-link">Калькулятор вклада</a></li>
                    <li class="dropdown-item"><a href="ndfl_calculator.html" class="dropdown-link">Калькулятор НДФЛ</a></li>
                    <li class="dropdown-item"><a href="utility_calculator.html" class="dropdown-link">Калькулятор коммунальных платежей</a></li>
                </ul>
            </li>

            <!-- Категория: Генераторы -->
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Генераторы</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="number_generator.html" class="dropdown-link">Генератор Чисел</a></li>
                    <li class="dropdown-item"><a href="passwort_gen.html" class="dropdown-link">Генератор Паролей</a></li>
                    <li class="dropdown-item"><a href="qr_generator.html" class="dropdown-link">Генератор QR-кодов</a></li>
                    <!-- При необходимости можно добавить другие генераторы -->
                </ul>
            </li>

           
            <li class="navbar-item">
                <a href="currency_converter.html" class="navbar-link">Конвертер Валют</a>
            </li>
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Обратная связь</a>
                <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="feedback.html" class="dropdown-link">Обратная связь</a></li>
                </ul>
            </li>

        </ul>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>





